/* スクロールバー、キャラアイコン削除 */
::-webkit-scrollbar,
.MuiBadge-root {
  display: none !important;
}

/* ステータス文字のフォントサイズ調整 */
.MuiTypography-root{
    font-size: 3rem;
}

/* ステータス横並び数調整 キャラソースL.17参照*/
.clruJQ {
    max-width: 300px;/*ここで制御 max-width÷↓のwidthの商が大体の横並びの数*/
}

/* ステータス白枠の横幅調整 キャラソースL.18参照*/
.jrZSzN {
    margin: 5px;/*ステータス同士の隙間の幅*/
    width: 300px;/*ステータスの横幅制御：デフォルト96px*/
    height: 50px;/*小さくすると文字が見切れる*/
}

/* ステータス白枠の縦幅調整 キャラソースL.27参照 */
.iLZzml{
    height: 50px;
}
