/* スクロールバー削除 */
::-webkit-scrollbar {
  display: none !important;
}


/* キャラアイコンを削除 */
.MuiBadge-root {
  display: none;
}

/* ステータスの横並びの数調整 キャラソースL.17参照*/
.clruJQ {
    margin-left: 4px;
    max-width: 100px;/*ここで制御*/
    display: flex;
    flex-wrap: wrap;
}

/* ステータスの白枠の横の長さ調整 キャラソースL.18参照*/
.jrZSzN {
    margin: 2px;
    width: 80px;/*ステータスの横幅制御：デフォルト96px*/
    position: relative;
    cursor: pointer;
}

.MuiAvatar-root {
    /*display: flex;*/
    width: 40px;
    height: 40px;
    display: flex;
    overflow: hidden;
    position: relative;
    font-size: 1.25rem;
    align-items: flex-start;
    /*align-items: center;*/
    flex-shrink: 0;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    line-height: 1;
    user-select: none;
    /*border-radius: 50%;*/
    justify-content: center;
}
